.sideNav {
  width: 250px;
  background-color: #fff;
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: 12;
  overflow-y: auto;
  left: 0;
  transition: transform 0.3s ease;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.closed {
  transform: translateX(-250px);
}

.open {
  transform: translateX(0);
}

.toggleButton {
  position: fixed;
  left: 260px; /* Position it just outside the sidenav */
  z-index: 11;
  top: 10px;
  right: -30px;
  width: 30px;
  height: 30px;
  background-color: #37b9d3;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: left 0.3s ease;
}

.navToggle{
  left: 0;
}

.logo {
  display: flex;
  align-items: center;
  padding: 0 15px;
  border-bottom: 1px solid #eaeaea;
  width: 150px;
}

.navLinks {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navItem {
  border-bottom: 1px solid #eaeaea;
}

.navTitle {
  display: flex;
  align-items: center;
  padding: 15px;
  cursor: pointer;
}

.navTitle img {
  width: 20px;
  margin-right: 10px;
}

.dropdownIcon {
  margin-left: auto;
}

/* Dropdown Animation */
.subLinks {
  list-style: none;
  padding-left: 30px;
  max-height: 0;
  transition: max-height 0.3s ease, opacity 0.3s ease;
  opacity: 0;
}

.open {
  max-height: 1000px; /* Adjust based on content length */
  opacity: 1;
}

.subLinkItem {
  padding: 10px 0;
}

.subLinkItem a {
  text-decoration: none;
  color: #333;
}

@media (max-width: 768px) {
  .sideNav {
    width: 200px;
  }

  .closed {
    transform: translateX(-200px);
  }

  .navTitle img {
    width: 18px;
  }

  .toggleButton {
    right: -25px;
  }

  .subLinks {
    padding-left: 20px;
  }
}
