.categoriesGrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1em 0;
}


.categoryBox {
    position: relative;
    width: 100%;
    max-width: 300px;
    margin: 10px;
    overflow: hidden;
    cursor: pointer;
}

.categoryImage {
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.3s ease;
}

.categoryTitle {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    font-size: 1.2rem;
    background: rgba(0, 0, 0, 0.6);
    padding: 5px 10px;
    border-radius: 5px;
    z-index: 1;
    transition: opacity 0.3s ease;
}

.categoryOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    color: #fff;
    font-size: 1.2rem;
    transition: opacity 0.3s ease;
}

.categoryBox:hover .categoryOverlay {
    opacity: 1;
}

.categoryBox:hover .categoryImage {
    transform: scale(1.1);
}

.categoryBox:hover .categoryTitle {
    opacity: 0;
}

/* Responsive design */
@media (max-width: 768px) {
    .categoryBox {
        max-width: 100%;
    }

    .categoryTitle {
        font-size: 1rem;
    }

    .categoryOverlay {
        font-size: 1rem;
    }
}