.body {
    font-size: 1em;
}

.content {
    flex-grow: 1;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 1em 0;
}

.title {
    font-size: 1.5em;
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    .content {
        margin-left: 0;
    }
}