/* src/components/SearchBar/SearchBar.module.css */

.searchBar {
    display: flex;
    align-items: center;
    border: 1px solid #00aeee;
    max-width: 100%;
    border-radius: 5px;
}

.dropdown {
    position: relative;
}

.dropdownToggle {
    background-color: transparent;
    border: none;
    border-right: 1px solid #00aeee;
    padding: 1em;
    cursor: pointer;
    font-weight: 400;
    display: flex;
    align-items: center;
    font-size: small;
}

.floatingImagesContainer div{
    cursor: pointer;
}

.arrowDown {
    margin-left: 5px;
    font-size: 12px;
}

.dropdownMenu {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 5px;
    list-style: none;
    padding: 0;
    z-index: 1;
    max-height: 0;
    overflow: hidden;
    width: fit-content;
    transition: max-height .3s ease;
}

.toggleDropdown {
    max-height: 500px;
}

.dropdownItem {
    padding: 10px 20px;
    outline: none;
    cursor: pointer;
}

.dropdownToggle:focus-visible{
    outline: none;
}

.dropdownItem:hover {
    background-color: #f1f1f1;
}

.searchInput {
    flex-grow: 1;
    padding: 10px;
    border: none;
    outline: none;
    font-size: 16px;
    width: 50%;
}

.searchButton {
    background-color: #00aeee;
    color: white;
    border: none;
    padding: 13px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.searchButton span {
    font-size: 20px;
}
/* src/components/Navbar/Navbar.module.css */

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 1em;
    padding: 10px 20px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: relative;
    flex-wrap: nowrap; /* No wrapping by default */
    z-index: -2;
}

.logoContainer {
    flex-shrink: 0;
    width: 160px;
    overflow: hidden;
}

.logo {
    height: 60px;
    transform: scale(2.6) translate(19px, -2px);
}

.bars{
    display: none;
}

.searchContainer {
    margin: 0;
    width: 50%;
    min-width: 250px;
}

.floatingImagesContainer {
    display: flex;
    position: pointer;
    gap: 20px;
}

.iconCount{
    position: absolute;
    top: 0;
    right: 0;
    background-color: #e61476;
    color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: bold;
}

.floatingImage {
    width: 40px;
    height: 40px;
    transition: transform 0.3s ease;
}

.floatingImage:hover {
    transform: scale(1.1);
}

@media (max-width: 420px){
    .bars{
        display: block;
    }
    .selectedOption{
        display: none;
    }
}

/* Responsive Styles for Small Devices */
@media (max-width: 768px) {
    .navbar {
        flex-wrap: wrap;
        padding: .5em;
    }

    .logoContainer, .floatingImagesContainer {
        order: 1;
    }

    .searchContainer {
        order: 2;
        width: 100%;
        display: flex;
        justify-content: center;
    }
}
