.countItem {
    text-align: center;
    margin: 20px;
  }
  
  .title {
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 10px;
  }
  
  .number {
    font-size: 2rem;
    color: #007bff;
    font-weight: bold;
  }
  
  
  /* Responsive Styles */
  @media (max-width: 768px) {
    .title {
      font-size: 1rem;
    }
  
    .number {
      font-size: 1.5rem;
    }
  }
  
  @media (max-width: 480px) {
    .countItem {
      margin: 10px;
    }
  
    .title {
      font-size: 0.9rem;
    }
  
    .number {
      font-size: 1.2rem;
    }
  }
  