.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  padding: 1em 20px;
  border-radius: 5px;
  background-color: #fff;
  border-top: 1px solid #a5a5a5;
  box-shadow: 0 4px 6px 0 rgba(55, 185, 211, 0.5),
    0 2px 4px 0 rgba(230, 20, 118, 0.5);
  position: relative;
}

.logo {
  font-size: 22px;
  font-weight: 500;
}

.hamburger {
  display: none;
  cursor: pointer;
  font-size: 24px;
}

.sideNav {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.links {
  display: flex;
  justify-content: space-around;
  list-style: none;
  gap: 2em;
  padding: 0;
  transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
  overflow: hidden;
}

.links li {
  display: flex;
  align-items: center;
  transition: all .4s ease;
}

.links a {
  text-decoration: none;
  color: #e61476;
  font-size: 16px;
  font-weight: 400;
}

.links li:hover {
  color: #ef4595;
  transform: translateY(5px);
}

.navBtns {
  color: white;
  font-size: 18px;
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.menuBtn {
  background-color: #e61476;
}

.menuBtn:hover {
  background-color: #ff3f92;
}

.icons {
  display: flex;
  gap: 10px;
  transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
  overflow: hidden;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: 2px solid #d3d3d3;
  border-radius: 50%;
  color: #111;

  i,
  svg {
    transition: all 0.5s ease;
  }
}

.icon:hover {

  i,
  svg {
    transform: rotate(360deg);
  }
}

.facebook {
  color: #3b5998;
}

.twitter {
  color: #1DA1F2;
}

.instagram {
  color: pink;
}

.whatsapp {
  color: #075e54;
}

.closeBtn {
  display: none;
}

.navItem {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gear{
  color: rgb(144, 144, 223);
}

.bars{
  color: #e61476;
}

.phoneMenu{
  display: none;
}

/* Responsive Styles */
@media (max-width: 1000px) {
  .hamburger {
    display: block;
  }

  .sideNav {
    position: fixed;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition: left 0.3s ease;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .closeBtn {
    display: block;
  }

  .sideNav .links {
    flex-direction: column;
    gap: 20px;
  }

  .sideNav .icons {
    justify-content: space-around;
    width: 100%;
  }

  .closeBtn {
    background: none;
    border: none;
    font-size: 30px;
    align-self: flex-end;
    cursor: pointer;
    color: #e61476;
  }

  .show {
    left: 0;
  }

  .links,
  .icons {
    display: flex;
  }
}

@media screen and (max-width: 600px) {
  .navbar {
    position: fixed;
    justify-content: space-around;
    bottom: 0;
    width: 100%;
    height: 70px;
    padding: 0;
  }

  .prontoBtn{
    display: none;
  }

  .phoneMenu{
    display: flex;
  }
  
  .mainNavBtnsContainer {
    display: none;
  }

  .toggleMenu{
    display: flex;
  }

  /* .navbar {
    flex-direction: column;
    gap: 1em;
  }

  .mainNavBtnsContainer {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .navBtns {
    width: 100%;
  }

  .hamburger {
    display: flex;
    width: 80%;
    justify-content: center;
  } */
}