.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  border-radius: 5px;
  background-color: #fff;
}

.logo {
  font-size: 22px;
  font-weight: 500; /* Make the font weight lighter */
}

.links {
  display: flex;
  justify-content: space-around;
  list-style: none;
  gap: 3em;
}

.links a {
  text-decoration: none;
  color: #000;
  font-size: 18px;
  font-weight: 300; /* Lighter font */
  transition: color 0.3s ease;
}

.links a:hover {
  color: #e61476;
}

.icons {
  display: flex;
  gap: 15px;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: 2px solid #d3d3d3; /* Light gray border */
  border-radius: 50%; /* Perfectly rounded */
  color: #000;
  transition: color 0.3s ease, background-color 0.3s ease, border-color 0.3s ease;
}

.icon:hover {
  color: #e61476;
  background-color: #f0f0f0;
  border-color: #e61476;
}

.fab {
  font-size: 20px; /* Adjust the icon size */
}

.facebook{
  color: #3b5998;
}

.twitter{
  color: #1DA1F2;
}

.instagram{
  color: pink;
}

.dribble{
  color: deeppink;
}

.tiktok{
  color: #ff0050;
  
}
.faTiktok {
  color: #111111;
  
  filter: drop-shadow(2px 0px 0px #FD3E3E) drop-shadow(-2px -2px 0px #4DE8F4);
}