.newsletter {
	width: 100%;
	background: #fafafa;
	padding-top: 60px;
	padding-bottom: 60px;
	box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
}

.newsletter_container {
	width: 100%;
}

.newsletter_title_container {
	width: 40%;
	padding-left: 95px;
}

.newsletter_icon {
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	left: 0;
}

.newsletter_icon img {
	max-width: 100%;
}

.newsletter_title {
	font-size: 18px;
	color: #000000;
}

.newsletter_text p:last-child {
	margin-bottom: 0;
}

.newsletter_content {
	width: 60%;
}

.clearfix::before,
.clearfix::after {
	content: "";
	display: table;
}

.clearfix::after {
	clear: both;
}

.clearfix {
	zoom: 1;
}

.newsletter_form {
	position: relative;
	width: 569px;
	float: left;
}

.newsletter_input {
	width: 100%;
	height: 50px;
	background: #FFFFFF;
	border: solid 1px #e5e5e5;
	border-radius: 5px;
	padding-left: 25px;
	font-size: 16px;
	outline: none;
	color: #0e8ce4;
}

.newsletter_input:focus {
	border: solid 1px rgba(14, 140, 228, 0.3);
	box-shadow: 0px 1px 5px rgba(14, 140, 228, 0.3);
}

.newsletter_input::-webkit-input-placeholder {
	font-size: 16px;
	color: rgba(0, 0, 0, 0.3);
}

.newsletter_input:-moz-placeholder {
	font-size: 16px;
	color: rgba(0, 0, 0, 0.3);
}

.newsletter_input::-moz-placeholder {
	font-size: 16px;
	color: rgba(0, 0, 0, 0.3);
}

.newsletter_input:-ms-input-placeholder {
	font-size: 16px;
	color: rgba(0, 0, 0, 0.3);
}

.newsletter_input::input-placeholder {
	font-size: 16px;
	color: rgba(0, 0, 0, 0.3);
}

.newsletter_button {
	position: absolute;
	top: -10px;
	right: 0;
	width: 153px;
	height: 50px;
	background: #0e8ce4;
	color: #FFFFFF;
	line-height: 50px;
	font-size: 18px;
	border: none;
	outline: none;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	cursor: pointer;
}

.newsletter_button:hover {
	opacity: 0.8;
}

.newsletter_unsubscribe_link {
	float: right;
	text-align: right;
	height: 50px;
}

.newsletter_unsubscribe_link .unsubscribe_link {
	font-size: 10px;
	color: #0e8ce4;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	line-height: 50px;
	cursor: pointer;
	transition: all .5s ease;
}

.newsletter_unsubscribe_link .unsubscribe_link:hover {
	color: #0d82d3;
	font-size: 12px;
}

@media screen and (max-width: 1199px) {
	.newsletter_form
	{
		width: 456px;
	}
}

@media screen and (max-width: 991px) {
	.newsletter_form
	{
		width: calc(100% - 114px);
	}
	.newsletter_content
	{
		width: 100%;
		margin-top: 30px;
	}
	.newsletter_title_container
	{
		width: 100%;
	}
}

@media screen and (max-width: 575px) {

	.newsletter_unsubscribe_link {
		float: none;
		text-align: center;
		margin-top: 10px;
		height: auto;
	}

	.newsletter_unsubscribe_link a {
		line-height: 1;
	}
	.newsletter_button
	{
		position: relative;
	    top: auto;
	    right: auto;
	    left: 50%;
	    -webkit-transform: translateX(-50%);
	    -moz-transform: translateX(-50%);
	    -ms-transform: translateX(-50%);
	    -o-transform: translateX(-50%);
	    transform: translateX(-50%);
	    width: 113px;
	    height: 40px;
	    background: #0e8ce4;
	    color: #FFFFFF;
	    line-height: 40px;
	    font-size: 12px;
	    border: none;
	    outline: none;
	    border-top-right-radius: 5px;
	    border-bottom-right-radius: 5px;
	    border-top-left-radius: 5px;
	    border-bottom-left-radius: 5px;
	    cursor: pointer;
	    margin-top: 20px;
	}
	.newsletter_input
	{
		font-size: 13px;
		padding-left: 15px;
		height: 40px;
		line-height: 40px;
	}
	.newsletter_input::-webkit-input-placeholder
	{
		font-size: 13px;
	}
	.newsletter_input:-moz-placeholder
	{
		font-size: 13px;
	}
	.newsletter_input::-moz-placeholder
	{
		font-size: 13px;
	} 
	.newsletter_input:-ms-input-placeholder
	{ 
		font-size: 13px;
	}
	.newsletter_input::input-placeholder
	{
		font-size: 13px;
	}
	.newsletter_title
	{
		font-size: 16px;
	}
	.newsletter_icon
	{
		position: relative;
		width: 40px;
		top: auto; 
		-webkit-transform: translate(-50%, 0px); 
		-moz-transform: translate(-50%, 0px); 
		-ms-transform: translate(-50%, 0px); 
		-o-transform: translate(-50%, 0px); 
		transform: translate(-50%, 0px); 
		left: 50%; 
		margin-bottom: 20px;
	}
	.newsletter_title_container
	{
		padding-left: 0px;
		text-align: center;
	}
}