.tabContainer {
  margin-top: 20px;
}
.tab {
  padding: 10px 20px;
  width: 33%;
  display: flex;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  position: relative;
  transition: all 0.3s ease-in-out;
}

.tab::before,
.tab::after {
  content: '';
  position: absolute;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: red;
  transition: width 0.3s ease-in-out;
}

.tab::before {
  left: 50%;
}

.tab::after {
  right: 50%;
}

.tab:hover::before,
.tab:hover::after,
.tab.active::before,
.tab.active::after {
  width: 50%;
}
.tabHeaders {
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid #ccc;
}

/* .tabHeader {
  flex: 1;
  text-align: center;
  padding: 10px;
  cursor: pointer;
  font-weight: bold;
} */


.tabContent {
  padding: 10px;
  border: 1px solid #ccc;
  border-top: none;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeIn 0.3s forwards;
}


@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media screen and (max-width: 750px) {
  .tabHeaders{
    flex-direction: column;
  }
  .tab{
    width: 100%;
  }
}